<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Apertura-de-xml-con-Python:" data-toc-modified-id="Apertura-de-xml-con-Python:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Apertura de xml con Python:</a></span></li><li><span><a href="#Apertura-de-json-con-Python:" data-toc-modified-id="Apertura-de-json-con-Python:-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Apertura de json con Python:</a></span></li><li><span><a href="#Apertura-de-xml-con-Pandas:" data-toc-modified-id="Apertura-de-xml-con-Pandas:-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Apertura de xml con Pandas:</a></span></li><li><span><a href="#Apertura-de-csv-con-Pandas:" data-toc-modified-id="Apertura-de-csv-con-Pandas:-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Apertura de csv con Pandas:</a></span></li><li><span><a href="#Apertura-de-excel-con-Pandas:" data-toc-modified-id="Apertura-de-excel-con-Pandas:-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Apertura de excel con Pandas:</a></span></li><li><span><a href="#Apertura-de-json-con-Pandas:" data-toc-modified-id="Apertura-de-json-con-Pandas:-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Apertura de json con Pandas:</a></span></li></ul></div>

# Apertura de xml con Python:

**XML** es un acr칩nimo de *Extensible Markup Language*, que se traduce como "Lenguaje de Marcado Extensible". Se trata de un lenguaje de marcado que se utiliza para codificar y estructurar datos de manera que sean legibles tanto para las m치quinas como para los seres humanos.

En un archivo XML, los datos se organizan mediante etiquetas que definen la estructura jer치rquica de la informaci칩n. Cada etiqueta tiene una apertura `<etiqueta>` y un cierre `</etiqueta>`, y puede contener datos o subetiquetas anidadas. 

Por ejemplo, el siguiente fragmento de XML representa un correo electr칩nico:

```xml
<correo>
  <to>Mar칤a</to>
  <from>
    <name>Ada</name>
    <email>ada@adalab.es</email>
  </from>
  <heading>쯈u칠 tal?</heading>
  <body>Hola Mari, qu칠 tal est치s, qu칠 tal la familia? Escr칤beme pronto, un beso!</body>
</correo>
```

Aqu칤, `<correo>` es la etiqueta ra칤z que engloba toda la informaci칩n del correo. Contiene etiquetas como `<to>`, `<from>`, `<heading>`, y `<body>`, que a su vez pueden contener datos o subetiquetas.

Para acceder a un archivo xml necesitamos importar la librer칤a xml con algunos subm칩dulos. Le asignamos el alias ET y usamos parse() para leer y interpretar los contenidos:

In [1]:
import xml.etree.ElementTree as ET
# seguramente quieran mas informacion sobre esta libreria....esta aqui debajo!

# https://docs.python.org/3/library/xml.etree.elementtree.html

In [3]:
# abrimos el fichero

tree = ET.parse('contacto.xml')

El m칠todo .getroot() nos saca el elemento que envuelve todo, como <contact-info> en este archivo.

In [4]:
root = tree.getroot()

Cada elemento, incluyendo el elemento root tiene un tag y puede tener unos atributos. En este caso el elemento a la ra칤z de todo le acabamos de asignar el nombre root, y su nombre (tag) y atributos los accedemos entonces de esta manera:

In [5]:
# printemos cu치l es la raiz, el padre de nuestr archivo xml
print(root.tag)

contact-info

In [6]:
# sacamos los atributos de nuestro fichero
print(root.attrib)

{}

In [7]:
print(root.find('contact').find('type').text)

Website

In [52]:
# Obteniendo el segundo nivel de contacto
print(root.findall('contact')[1].find('type').text)

Mail

Puedes iterar por cada hijo de root y ver la estructura del xml de la siguiente manera:

In [8]:
for child in root:
    print(f"{child.tag}: Es un hijo de nuestra raiz 'contact-info'" )
    for subchild in child:
        print(f"{subchild.tag}: Es un nieto de nuestra raiz 'contact-info'" )

contact: Es un hijo de nuestra raiz 'contact-info'
type: Es un nieto de nuestra raiz 'contact-info'
url: Es un nieto de nuestra raiz 'contact-info'
contact: Es un hijo de nuestra raiz 'contact-info'
type: Es un nieto de nuestra raiz 'contact-info'
address: Es un nieto de nuestra raiz 'contact-info'
socialmedia: Es un hijo de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'
profile: Es un nieto de nuestra raiz 'contact-info'

Si vas chequeando el archivo xml ves que sigue una estructura de 치rbol, tiene una rama principal que es contact-info del que salen dos ramas contact y socialmedia. De estos, a su vez salen m치s ramas:

- De la subrama contact salen las siguientes ramas: type, url y address

- De la subrama socialmedia sale solo profile

Ahora que sabes c칩mo se llaman los campos puedes sacar su contenido uno por uno. Con .find() extraes la primera ocasi칩n en que el tag de un elemento coincida con el string. Recuerda que puedes tener m칰ltiples elementos con el mismo nombre.

In [9]:
print(root.find('contact').find('type').text)

Website

In [10]:
print(root.find('contact').find('url').text)

https://adalab.es/

Genial!!! Hasta ahora hemos visto como acceder al contenido, pero... 游뱂 solo estaba devolviendo el contenido de una etiqueta. 쮺칩mo podr칤amos hacer para que nos devolviera el contenido de todas las etiquetas con el mismo nombre? Usando .findall() que nos da una lista de todos los elementos cuyo tag coincide con el string dado. Para cada contacto sacamos el subelemento que se llama type y accedemos a su texto:

In [11]:
# iteramos por el hijo "contact" y accedemos a todos
for contact in root.findall('contact'):
    
    # dentro de este sacamos su contenido
    print(contact.find('type').text)

Website
Mail

In [12]:
# como lo har칤amos para el otro elemento que ten칤amos
for subelement in root.find('socialmedia').findall('profile'):
    print(subelement.find('name').text)

Twitter
Facebook
Linkedin
Instagram
Youtube

# Apertura de json con Python:

In [15]:
# importamos las librer칤as que necesitaremos

# Importar librer칤a para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json

# Importar librer칤as para manipulaci칩n y an치lisis de datos
# -----------------------------------------------------------------------
import pandas as pd

Cargamos el Json con "open", y con load() convertimos el Json en un objeto de Python:

In [16]:
with open("personal.json", "r") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    personal = json.load(fichero) # igualamos el archivo cargado a una variable para tenerlo almacenado

In [17]:
type(personal)

dict

Esta es la pinta que tiene nuestro archivo. Vemos que tiene una estructura c칩mo los diccionarios que ya conocemos. Tenemos la key "workers" y dentro una lista de diccionarios con todos los trabajadores.

In [18]:
personal

{'workers': [{'edad': 34,
   'experiencia': 5,
   'mascota': 'gatos',
   'nivel': 'Senior',
   'nombre': 'Ana',
   'salario': 50000},
  {'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'nombre': 'Eva',
   'salario': 35000},
  {'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'nombre': 'Marta',
   'salario': 25000},
  {'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'nombre': 'Paula',
   'salario': 35000}]}

Para saber la longitud de "workers":

In [19]:
len(personal["workers"])

4

Accedemos a cada uno de los registros dentro de "workers":

In [20]:
for person in personal["workers"]:
    print(person)

{'edad': 34, 'experiencia': 5, 'mascota': 'gatos', 'nivel': 'Senior', 'nombre': 'Ana', 'salario': 50000}
{'edad': 37, 'experiencia': 2, 'nivel': 'Mid', 'nombre': 'Eva', 'salario': 35000}
{'edad': 27, 'experiencia': 1, 'nivel': 'Junior', 'nombre': 'Marta', 'salario': 25000}
{'edad': 30, 'experiencia': 3, 'nivel': 'Mid', 'nombre': 'Paula', 'salario': 35000}

Para acceder a cada uno de los registros, usamos los 칤ndices:

In [21]:
personal["workers"][0]

{'edad': 34,
 'experiencia': 5,
 'mascota': 'gatos',
 'nivel': 'Senior',
 'nombre': 'Ana',
 'salario': 50000}

Con las keys podemos acceder a cada uno de los valores del diccionario:

In [25]:
personal["workers"][0]["nombre"]

'Ana'

Adem치s, podemos cambiar el valar de cada una de las keys:

In [26]:
personal["workers"][0]["edad"] = 40
personal["workers"][0]["edad"]

40

In [27]:
personal

{'workers': [{'edad': 40,
   'experiencia': 5,
   'mascota': 'gatos',
   'nivel': 'Senior',
   'nombre': 'Ana',
   'salario': 50000},
  {'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'nombre': 'Eva',
   'salario': 35000},
  {'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'nombre': 'Marta',
   'salario': 25000},
  {'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'nombre': 'Paula',
   'salario': 35000}]}

Esto lo podemos hacer en bucle e incluyendo condiciones:

En este caso, si el nombre de alguna de las personas es igual a Ana, le a침adimos la key "mascota".

In [28]:
for i in range(len(personal["workers"])):
    if personal["workers"][i]["nombre"]=="Ana":
        personal["workers"][i]["mascota"] = "gatos"

In [29]:
personal["workers"][0]

{'edad': 40,
 'experiencia': 5,
 'mascota': 'gatos',
 'nivel': 'Senior',
 'nombre': 'Ana',
 'salario': 50000}

Guardamos el fichero actualizado en un nuevo json. En este caso usamos "w" ya que queremos escribir (write):

In [31]:
with open("personal1.json", "w") as fichero:
    json.dump(personal, fichero)

# Apertura de xml con Pandas:

In [32]:
import pandas as pd

df = pd.read_xml("books.xml")

si da un error, ejecutar en la temrinal en el entorno en el que estemos trabajando

pip install lxml

In [33]:
df.head()

,id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."

Ahora ya tienes el xml en un DataFrame y puedes aplicar los m칠todos que has aprendido anteriormente. Ya ves que es mucho m치s sencillo abrir este tipo de archivos con Pandas!!

# Apertura de csv con Pandas:

Probablemente uno de los tipos de archivo m치s usados

In [34]:
df_ufo = pd.read_csv("ufo.csv")

In [37]:
df_ufo.head()

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

Ups!! Al abrir el "csv" ha creado una columna: "Unnamed: 0" que no forma parte del archivo original. Esto lo hace Pandas al crear un nuevo 칤ndice. La forma de solucionarlo es decirle que ponga la primera comlumna del archivo c칩mo 칤ndice:

In [38]:
df_ufo = pd.read_csv("ufo.csv", index_col = 0)

In [39]:
df_ufo.head()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [41]:
df_ufo.tail()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
80323,2013-09-09 21:15:00,9/30/2013,2013,9,21,Autumn,USA,United States,Tennessee,Nashville,36.165833,-86.784444,Light,600.0,10 minutes,Round from the distance/slowly changing colors...
80324,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,Idaho,Boise,43.613611,-116.202500,Circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80325,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,California,Napa Abajo,38.297222,-122.284444,Other,1200.0,hour,Napa UFO&#44
80326,2013-09-09 22:20:00,9/30/2013,2013,9,22,Autumn,USA,United States,Virginia,Vienna,38.901111,-77.265556,Circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...
80327,2013-09-09 23:00:00,9/30/2013,2013,9,23,Autumn,USA,United States,Oklahoma,Edmond,35.652778,-97.477778,Cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...

Puedes guardar un DataFrame en un formato diferente al que ten칤a el archivo de inicio. Por ejemplo, vamos a guardarlo en Excel:

In [40]:
df_ufo.to_excel("ufo.xlsx")

Aqu칤 tienes la documentaci칩n con todos los par치metros que admite [read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

# Apertura de excel con Pandas:

In [42]:
df_ufo_excel = pd.read_excel("ufo.xlsx", index_col = 0)

Al igual que con el "csv", hay que decirle a Pandas que la primera columna es el 칤ndice para que no cree la columna "Unnamed: 0".

In [43]:
df_ufo_excel.head()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

游뚿丘멆잺 NOTA Puede que al ejecutar este l칤nea de c칩digo os salga un error:

DON'T PANIC!!! Lo 칰nico que tendr치s que hacer es importaros openpyxl. 쮺칩mo?

Vas a la terminal y ejecutas el siguiente c칩digo:
pip3 install openpyxl
o

pip install openpyxl

Hay muchos m치s par치metros que puedes usar al abrir este tipo de archivos, como por ejemplo saltar las primeras l칤neas del archivo de Excel o abrir los datos de una pesta침a en concreto del documento. Aqu칤 tienes la documentaci칩n para que le eches un vistazo: [read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

# Apertura de json con Pandas:

Ahora vamos a ver c칩mo abrir un archivo de tipo "json" con pandas:

In [46]:
df = pd.read_json("one_piece.json")

In [47]:
df.head()

,average_rating,episode,name,rank,season,start,total_votes,trend
0,7.6,1,I'm Luffy! The Man Who Will Become the Pirate ...,"24,129",1,1999,647,18
1,7.8,2,"The Great Swordsman Appears! Pirate Hunter, Ro...","29,290",1,1999,473,11
2,7.7,3,Morgan vs. Luffy! Who's This Beautiful Young G...,"32,043",1,1999,428,7
3,8.1,4,Luffy's Past! The Red-haired Shanks Appears!,"28,818",1,1999,449,8
4,7.5,5,"Fear, Mysterious Power! Pirate Clown Captain B...","37,113",1,1999,370,4

Al igual que antes, con este DataFrame puedes aplicar los m칠todos de Pnadas que has aprendido, incluso guardarlo con otro formato c칩mo por ejemplo "csv":

In [48]:
df.to_csv("isa_one_piece.csv")

- Ejercicios:
    - Actualiza el json de personal, a침adiendo un a침o m치s a la edad y experiencia de cada registro de personal.
    - Cambia el nivel en funci칩n de la experiencia: Junior = 1 a침o, Mid = 2 o 3 a침os, Senior m치s de 4 a침os.
    - Cambia el salario en base al nivel: Junior = 25.000, Mid = 35.000, Senior = 50.000
    - Guarda el json con el nombre "personal_actualizado.json"
    - Abre el json con Pandas.