# Ejercicios

1. Usa la [siguiente](https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020) página web.

2. Extrae la tabla de las medallas olímpicas que tenéis en la página web.

3. Mete todo el código de la extracción de datos en una función.

4. Los resultados deben estar en un *DataFrame* y hacer una exploración básica con los métodos aprendidos en la lección.

In [ ]:
# como siempre...primero las librerias!

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [14]:
# armo mi funcion en base a lo que se pidio:

def extraer_medallas(url):
    # Realizar la solicitud HTTP
    response = requests.get(url)
    
    # Verificar si la solicitud fue exitosa
    if response.status_code == 200:
        # Parsear el contenido HTML
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Encontrar la tabla de medallas por su clase CSS
        table = soup.find('table', class_='wikitable')
        
        # Extraer los datos de la tabla y almacenarlos en una lista de listas
        data = []
        for row in table.find_all('tr'):
            row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
            data.append(row_data)
        
        # Crear un DataFrame a partir de los datos
        df = pd.DataFrame(data[1:], columns=data[0])
        
        return df
    else:
        print("Error al realizar la solicitud HTTP.")
        return None

In [15]:
# URL de la página web
url = "https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020"

# Extraer la tabla de medallas olímpicas y almacenarla en un DataFrame
medals_df = extract_medals_table(url)

# Mostrar las primeras filas del DataFrame
medals_df.head()

  Núm.                 País             Total
0    1  Estados Unidos(USA)  39  41  33   113
1    2           China(CHN)  38  32  19    89
2    3           Japón(JPN)  27  14  17    58
3    4     Reino Unido(GBR)  22  20  22    64
4    5             ROC(ROC)  20  28  23    71